@import "../../../../styles/colours";
.elementDetailsForm {
  width: 95%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  padding: 3%;
  .elementDetailsForm__formGroup + .elementDetailsForm__formGroup {
    margin-top: 10px;
  }
  .elementDetailsForm__formGroup {
    display: flex;
    flex-direction: column;
    span {
      font-size: 0.7rem;
      color: grey;
      margin-top: 3px;
    }
    label {
      font-size: 0.9rem;
    }
    input {
      background-color: white;
      border-radius: 5px;
      border: 1px solid $secondary;
      padding: 15px;
      margin-top: 5px;
      outline: none;
    }
    select {
      border: 1px solid $secondary;
      background-color: white;
      border-radius: 5px;
      padding: 15px;
      margin-top: 5px;
    }
  }
}
