@import "../../../../../Styles/Constants";
@import "../../../../../Styles/Colors";
@import "../../../../../Styles/fonts";

.amountForm {
  width: 95%;
  background-color: $veryLightGrey;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  padding: 3%;
  .form_group + .form_group {
    margin-top: 10px;
  }
  .form_group {
    display: flex;
    flex-direction: column;
    span {
      font-size: 0.7rem;
      color: grey;
      margin-top: 3px;
    }
    label {
      font-size: 0.9rem;
    }
    input {
      background-color: $lightGrey;
      border-radius: 5px;
      border: none;
      padding: 15px;
      margin-top: 5px;
      outline: none;
    }
    select {
      border: none;
      background-color: $lightGrey;
      border-radius: 5px;
      padding: 15px;
      margin-top: 5px;
    }
  }
}
