.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 85vh;
  background-color: white;
  overflow: hidden;
}
.sidebar span {
  font-weight: bold;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 0px;
}
.sidebar ul li img {
  width: 12px;
}
.sidebar ul li span {
  font-weight: 500;
  color: #818da9;
  font-weight: bold;
}
.sidebar ul li button {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 15px !important;
}
.sidebar ul li button:hover span {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__modeSwitch {
  padding: 10px 0px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.sidebar .sidebar__modeSwitch .sidebar__modeSwitch_icon {
  background-color: #2d416f;
  color: white;
  border-radius: 5px;
  padding: 3px 5px;
  width: 12px;
}
.sidebar .sidebar__modeSwitch .sidebar__modeSwitch_name {
  display: flex;
  flex-direction: column;
  color: #2d416f;
  font-size: 0.8rem;
  margin-left: -25px;
}
.sidebar .sidebar__modeSwitch .sidebar__modeSwitch_name span {
  font-weight: 700;
  font-size: 0.8rem;
}
.sidebar .sidebar__modeSwitch .sidebar__modeSwitch_name strong {
  font-weight: bolder;
}
.sidebar .sidebar__nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
}
.sidebar .sidebar__nav .sidebar__menuIcon {
  color: #57678c;
  width: 16px;
}
.sidebar .sidebar__nav .sidebar__menuIcon:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__navList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  gap: 5px;
}
.sidebar .sidebar__nav .sidebar__navList li button {
  padding: 10px 0px;
  margin: 5px 0px;
  border-radius: 5px;
  border: none;
}
.sidebar .sidebar__nav .sidebar__navList li button:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_dashboard {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 15px !important;
  gap: 10px;
  color: #57678c;
}
.sidebar .sidebar__nav .sidebar__nav_dashboard span {
  cursor: default;
}
.sidebar .sidebar__nav .sidebar__nav_dashboard span:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_dashboard:hover {
  background-color: #cde1e3;
  transition: background-color 0.5s ease;
  color: #2d416f !important;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_activities-active {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
  cursor: pointer;
  padding: 10px 15px !important;
  color: #57678c;
  background-color: #cde1e3;
}
.sidebar .sidebar__nav .sidebar__nav_activities-active .sidebar__nav_activities_span {
  font-weight: bold;
  font-size: 0.75rem;
  color: #2d416f;
  cursor: pointer;
}
.sidebar .sidebar__nav .sidebar__nav_activities-active:hover {
  background-color: #cde1e3 !important;
  transition: background-color 0.5s ease;
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_activities {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  cursor: pointer;
  padding: 10px 15px !important;
  color: #57678c;
}
.sidebar .sidebar__nav .sidebar__nav_activities:hover .sidebar__nav_activities_span {
  color: #818da9;
  font-weight: normal;
  color: #2d416f;
  font-weight: bold;
  cursor: pointer;
}
.sidebar .sidebar__nav .sidebar__nav_activities:hover {
  background-color: #cde1e3 !important;
  transition: background-color 0.5s ease;
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_activities_options {
  background-color: #f6f7f9;
  border-radius: 5px;
  color: #2d416f;
  width: 80%;
}
.sidebar .sidebar__nav .sidebar__nav_activities_options li {
  padding: 10px;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_salaryStructure {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 10px 15px !important;
  color: #57678c;
}
.sidebar .sidebar__nav .sidebar__nav_salaryStructure span {
  cursor: default;
}
.sidebar .sidebar__nav .sidebar__nav_salaryStructure span {
  cursor: default;
}
.sidebar .sidebar__nav .sidebar__nav_salaryStructure span:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_salaryStructure:hover {
  background-color: #cde1e3;
  transition: background-color 0.5s ease;
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: #4baa79;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup:hover {
  color: white !important;
  font-weight: normal !important;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup span {
  margin-left: -24px;
  color: white;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup_options {
  display: flex;
  flex-direction: column;
  width: 70%;
  transition: max-height 0.3s ease-in-out;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup_options span {
  color: #2d416f;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup_options a.active {
  background-color: #f3fff1;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup_options .sidebar__nav_elementSetup_elements {
  list-style-type: none;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px;
}
.sidebar .sidebar__nav .sidebar__nav_elementSetup_options .sidebar__nav_elementSetup_balances {
  list-style-type: none;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px;
}
.sidebar .sidebar__nav .sidebar__nav_employees {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 10px 15px !important;
  color: #57678c;
}
.sidebar .sidebar__nav .sidebar__nav_employees span {
  cursor: default;
}
.sidebar .sidebar__nav .sidebar__nav_employees span {
  cursor: default;
}
.sidebar .sidebar__nav .sidebar__nav_employees span:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__nav .sidebar__nav_employees:hover {
  background-color: #cde1e3;
  transition: background-color 0.5s ease;
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 0.75rem;
}
.sidebar .sidebar__actions .sidebar__actionsList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  gap: 5px;
}
.sidebar .sidebar__actions .sidebar__actionsList li button {
  padding: 10px 0px;
  margin: 5px 0px;
  border-radius: 5px;
  border: none;
}
.sidebar .sidebar__actions .sidebar__actionsList li button:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  color: #57678c;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings span {
  margin-left: -24px;
  font-weight: bold;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings span {
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings span:hover {
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings:hover {
  background-color: #cde1e3;
  transition: background-color 0.5s ease;
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings_options {
  background-color: #f6f7f9;
  border-radius: 5px;
  color: #2d416f;
  padding: 0px 10px;
  width: 80%;
}
.sidebar .sidebar__actions .sidebar__actions_payrollSettings_options li {
  padding: 10px;
  font-weight: bold;
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}
.sidebar .sidebar__actions .sidebar__actions_myAccount {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 15px !important;
  gap: 20px;
  color: #57678c;
}
.sidebar .sidebar__actions .sidebar__actions_myAccount span {
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_myAccount span {
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_myAccount span:hover {
  color: #2d416f;
  font-weight: bold;
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_myAccount:hover {
  background-color: #cde1e3;
  transition: background-color 0.5s ease;
  color: #2d416f;
  font-weight: bold;
}
.sidebar .sidebar__actions .sidebar__actions_logout {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 15px !important;
  gap: 20px;
  color: #57678c;
}
.sidebar .sidebar__actions .sidebar__actions_logout span {
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_logout span {
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_logout span:hover {
  color: #2d416f;
  font-weight: bold;
  cursor: default;
}
.sidebar .sidebar__actions .sidebar__actions_logout:hover {
  background-color: #cde1e3;
  animation: blink 1s step-end infinite;
  opacity: 1;
  color: #2d416f;
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Completely invisible */
  }
  100% {
    opacity: 1; /* Back to fully visible */
  }
}/*# sourceMappingURL=Sidebar.css.map */