@import "../../styles/colours";

body.active_modal {
  overflow: hidden;
}
.new_element_modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.elementsRoute {
  color: black;
  background-color: $secondary;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 40px;
  // height: 100%;

  .elementsRoute__route {
    display: flex;
    gap: 10px;
    background: none;
    font-weight: 600;
    font-size: 0.8rem;

    .elementsRoute__route_arrow {
      color: $lightPrimary;
    }

    span:nth-child(1) {
      color: $lightPrimary;
      opacity: 0.5;
    }
    span:nth-child(3) {
      color: $lightPrimary;
      opacity: 0.5;
    }
    span:nth-child(5) {
      color: $primary;
    }
  }
  .elementsRoute__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
    gap: 10px;
    .elementsRoute__container_heading {
      color: $primary;
      font-size: 0.95rem;
    }

    .elementsRoute__container_controls {
      display: flex;
      justify-content: space-between;
      padding: 13px;
      background-color: $secondary;

      .elementsRoute__container_controls_nav {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        .elementsRoute__search {
          display: flex;
          .elementsRoute__searchInput {
            padding: 18px 10px;
            outline: none;
            border: 1px solid $borderGray;
            border-radius: 5px 0px 0px 5px;
            width: 250px;
            font-size: 12px;
            height: 25px;
            &::placeholder {
              color: $lightPrimary;
              opacity: 0.8;
              font-size: 0.7rem;
            }
          }
          .elementsRoute__searchIcon {
            background: $green;
            color: white;
            width: 38px;
            border-radius: 0px 5px 5px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .elementsRoute__controls_slider {
          padding: 5px;
          background-color: $primary;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          width: 38px;
        }
      }
      .elementsRoute__container_controls_addNew {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        background-color: $green;
        color: white;
        font-size: 0.8rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
    .elementsRoute__container_table {
      width: 100%;
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      // align-items: center;
    }
  }
}
